* {
    box-sizing: border-box;
}
/*
body {
    background-image: url(design-mobile.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 2px;
}
body > * {
    mix-blend-mode: difference;
}
viewport width
udělat maxwidth v headeru
flexbox pro obrázky
*/
body {
    background-color: #0170af;
    color: #ffffff;
    font-family: "Candara", sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.4545;
    margin: 0;
    background-image: linear-gradient(to top, #003f63 0, #0170af00 25rem),url(main-bg.png);
    background-size: 100%,112rem;
    background-position: 0,32% 0;
    background-repeat: repeat;
}
}
h1,
h2,
h3 {
    font-family: "Georgia", serif;
    font-weight: 400;
}
h1 {
    font-size: 4rem;
    line-height: 1.125;
    margin-top: 2.3rem;
    margin-bottom: 1.6rem;
}
h2,
h3 {
    line-height: 1.136;
}
h2 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
ul {
    list-style-type: "— ";
    padding-left: 1.6875rem;
    margin-bottom: 4rem;
}
a {
    color: #b6e5ff;
}
p {
    margin-top: 2rem;
    margin-bottom: 0;
}
main {
    margin-top: 4.7rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
img {
    margin-bottom: 0.1875rem;
    max-width: 100%;
    height: auto;
}
.header {
    background-color: #ab2e0a;
    padding-top: 0.75rem;
    padding-bottom: 5.75rem;
    background-image: url(hero-bottom.png),url(hero-bg.png);
    background-size: 112rem,112rem;
    background-position: 32% 100%,32% 0;
    background-repeat: no-repeat,repeat;
}
.header-text {
    padding-right: 1.25rem;
    padding-bottom: 4rem;
    padding-left: 1.25rem;
}
.heading {
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.375em;
    font-family: "Candara", sans-serif;
    padding-left: 1rem;
    border-left: 2px solid;
    margin-bottom: 1.5rem;
}
.heading-blue {
    color: #bee8ff;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    max-width: max-content;
    margin-left: auto;
}
.navigation-group {
    display: flex;
    flex-wrap: wrap;
}
.navigation-link {
    font-size: 1rem;
    line-height: 1.22;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 0.375rem;
}
.footer {
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
}
.footer-contacts {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.75rem;
}
.footer-image {
    max-width: 11.625rem;
}