* {
    box-sizing: border-box;
}
/*
body {
    background-image: url(design-mobile.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 2px;
}
body > * {
    mix-blend-mode: difference;
}
*/
body {
    background-color: black;
    color: #ffffff;
    font-family: "Candara", sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.4545;
    margin: 0;
}
}
h1,
h2,
h3 {
    font-family: "Georgia", serif;
    font-weight: 400;
}
h1 {
    font-size: 4rem;
    line-height: 1.125;
    margin-top: 2.3rem;
    margin-bottom: 1.6rem;
}
@media only screen and (min-width: 1024px) {
    h1 {
      font-size: 6.875rem;
      line-height: 1;
    }
}    
h2,
h3 {
    line-height: 1.136;
}
h2 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
ul {
    list-style-type: "— ";
    padding-left: 1.6875rem;
    margin-bottom: 4rem;
}
a {
    color: #b6e5ff;
}
p {
    margin-bottom: 0;
}
main {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
    padding-right: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
}
/*@media only screen and (min-width: 1150px) {
    .main  {
        max-width: 88rem;
    }
} 
*/ 
img {
    margin-bottom: 0.3875rem;
    max-width: 100%;
    height: auto;
}
.header {
    background-color: #ab2e0a;
    padding-top: 0.75rem;
    padding-bottom: 5.75rem;
    background-image: url(hero-bottom.png),url(hero-bg.png);
    background-size: 112rem,112rem;
    background-position: 32% 100%,32% 0;
    background-repeat: no-repeat,repeat;
    padding-left: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
    padding-right: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
} 
.header-text {
    padding-bottom: 5rem;
    max-width: 27.125rem;
}
/*
@media only screen and (min-width: 425px) {
    .header-text  {
        padding-right: 2rem;
        padding-left: 2rem;
    }
} 
@media only screen and (min-width: 450px) {
    .header-text  {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}     
@media only screen and (min-width: 768px) {
    .header-text  {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}  
*/


@media only screen and (min-width: 1024px) {
    .header-text  {
        max-width: 37.125rem;
        padding-bottom: 6rem;
    }
}
@media only screen and (min-width: 1440px) {
    .header-text  {
        padding-bottom: 7rem;
    }
}    
.heading {
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.375em;
    font-family: "Candara", sans-serif;
    padding-left: 1rem;
    border-left: 2px solid;
    margin-bottom: 1.5rem;
    padding-top: 0.3rem;
}
@media only screen and (min-width: 1240px){
    .heading {
        padding-left: 0;
        border-left: 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        }  
}
@media only screen and (min-width: 1240px){
span.heading::before {
    content: " ";
    width: 4.5rem;
    display: inline-block;
    background-color: white;
    height: 2px;
    margin-bottom: 0.3rem;
    }  
}
@media only screen and (min-width: 1240px) {
    .heading  {
        font-size: 1.375rem;
        line-height: 1.22;
    }
}   
.heading-blue {
    color: #bee8ff;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    margin-right: -0.375rem;
    margin-left: -0.375rem;
}
@media only screen and (min-width: 1200px) {
    .navigation  {
        margin-left: auto;
    }
}    
.navigation-group {
    display: flex;
    flex-wrap: wrap;
}
.navigation-link {
    font-size: 1rem;
    line-height: 1.22;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 0.375rem;
}
.footer {
    padding-bottom: 1rem;
    padding-left: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
    padding-right: clamp(1.25rem, 0.4643rem + 3.9286vw, 4rem);
}
.footer-contacts {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.75rem;
}
.footer-image {
    max-width: 11.625rem;
}
@media only screen and (min-width: 1150px) {
    .projects  {
        margin-right: auto;
        margin-left: auto;
    }
} 
.project-alpha{
    display: flex;
    flex-wrap: wrap;
    max-width: 69.5rem;
    gap: 3rem;
}
@media only screen and (min-width: 763px) and (max-width:1440px) {
    .project-alpha>img  {
        order:2;
        max-width: clamp(20rem, -14.8983rem + 69.7966vw, 47.875rem);
        /* 800-1440px ; 20rem - 47,875rem */
    }
} 
@media only screen and (max-width: 762px) {
    .project-alpha>img  {
        height: 20rem;
    }
}   
@media only screen and (min-width: 763px) and (max-width:1440px){
    .project-alpha>.description-alpha  {
        order:1;
    }
}  
@media only screen and (min-width: 1150px) {
    .project-alpha  {
        display: flex;
        flex-wrap: nowrap;
        max-width: 69.5rem;
        gap: 3rem;

    }
} 
.description-alpha{
    max-width: 20rem;
}
.project-beta{
    display: flex;
    flex-wrap: wrap;
    max-width: 63rem;
    gap: 3rem;
}
.description-beta{
    max-width: 20rem;
}
.project-beta>img{
    order: 2;
}
.project-beta>p{
    order: 1;
}
.project-gama{
    display: flex;
    flex-wrap: wrap;
    max-width: 69.5rem;
    gap: 3rem;
}
.project-image{
    max-width: 20rem;
    width: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 1180px) {
    .project-image {
        max-width: 47.875rem;
        height: auto;
    }
}   
.description-gama{
    max-width: 20rem;
}
.all{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #003f63 0, #0170af00 25rem),url(main-bg.png);
    background-size: 100%,112rem;
    background-position: 0,32% 0;
    background-repeat: repeat;
}